# Ignoring all the files inside data except the specific ones we want to keep in version control
data/*/**
!data/*/.gitkeep
!data/zigbee2mqtt/configuration.base.yaml
!data/homebridge/homebridge.base.env

# Ignoring all files in BACKUP except .gitkeep
BACKUPS/*
!BACKUPS/.gitkeep

# IDE
.vscode/
.idea/

