name: Renovate

on:
  # Run every 60 minutes
  schedule:
    - cron: "0/60 * * * *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "update_dependencies"
  update_dependencies:
    name: "Update Dependencies"

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Get token so that PRs are not published using my account
      - name: Get token
        id: get_token
        uses: tibdex/github-app-token@v2
        with:
          private_key: ${{ secrets.private_key }}
          app_id: ${{ secrets.app_id }}

      - name: Checkout
        uses: actions/checkout@v6

      # Runs Renovate in this repo with custom configuration (due to the need for secrets)
      - name: Renovate Bot GitHub Action
        uses: renovatebot/github-action@v44.2.1
        with:
          configurationFile: .github/renovate/config.js
          token: "${{ steps.get_token.outputs.token }}"
          env-regex: "^(?:RENOVATE_\\w+|LOG_LEVEL|GITHUB_COM_TOKEN|NODE_OPTIONS|DOCKER_HUB_USER|DOCKER_HUB_PASSWORD)$"
        env:
          DOCKER_HUB_USER: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
